@using WebApplication.Models
@model WebApplication.Models.HomeViewModel
<div id="server-data">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Jacob Scearcy</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="home-btn" href="#">Home</a></li>
                    <li><a class="pull-right" id="login-btn" href="#Login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <section class="row row-centered">
            <div>
            @foreach (Post post in Model.Posts.All) 
            {
                <a href="#@(post.LinkUrl)">
                    <div class="col-md-3 col-sm-2 col-centered blog-container" style="background-image: url('@(post.ImgUrl)');">
                        <div class="blog-header">
                            @post.PostTitle @(string.Join("-", post.EditDate.ToString().Split(' ')[0].Split('/')))
                        </div>
                    </div>
                </a>
            }
            </div>
        </section>
        <hr />
        <footer>
            <p>&copy; 2017 - Jacob Scearcy</p>
        </footer>
    </div>
</div>
<div id="elmApp">
     
</div>
<script src="~/js/site.js" type="application/javascript" asp-append-version="true"></script>
<script type="application/javascript">
    const createPostUrl = '@Url.Content("~/js/createPost.js")';
    const blogs = @(Html.Raw(Model.JsonBlogs));
</script>
<script src="~/js/createPost.js" type="application/javascript" asp-append-version="true"></script>